@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

#homepage{
    background-color: #f36f5e64;
  margin: 0;
  padding-top: 5em;
  padding-bottom: 15em;
  width: 100%;
}
a {
  outline: none;
  text-decoration: none;
}

#home {
    background-color: white;
    border-radius: 20px;
    padding-top: 2em;
    padding-bottom: 3em;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    width: 50%;
    padding-left: 3em;
    padding-right: 3em;
}

#bienvenido {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    padding-top: 0.5em;
  }
.logo_nombre{
    width: 15em;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 4em;
}
#boton_home {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    width: auto;
    background-color: #f36f5e;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  @media (max-width: 900px) {
    #home {
        width: 70%;
    }
    #boton_home{
        margin-bottom:1em;
    }
  }
  
@media (max-width: 768px) {
    #home {
        width: 80%;

    }
    #boton_home{
        margin-bottom:1em;
    }
  }
  